{% extends 'core/base.html' %}
{% load static %}


{% block content %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Life Coach </title>
    <link rel="stylesheet" href="{% static 'OE/css/main.css' %}">
</head>

{% if user.is_authenticated %}
    <body class="content">
        <main>
            <div>
            <h1>Grief Work</h1>
                <hr>
            <h3>Grief work is the process through which bereaved people gradually reduce or transform their emotional
                connection to the person who has died and thereby refocus appropriately on their own ongoing lives.
            </h3>
                <hr>

            <h2>
            <a href="{% url 'book-appointment' %}">Book An Appointment</a>
            </h2>
            </div>
        </main>
    </body>
{% else %}
    <body class="content">
        <h1>Grief Work</h1>
            <hr>
        <h3>Grief work is the process through which bereaved people gradually reduce or transform their emotional
            connection to the person who has died and thereby refocus appropriately on their own ongoing lives.
        </h3>
            <hr>
        <h2>
        <a href="{% url 'register' %}">Click here to register!</a>
        </h2>
    </body>
{% endif %}

{% endblock %}
